<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="com.bibek.beans.Address" id="address">
      <property name="houseno" value="123"/>
      <property name="city" value="Ktm"/>
      <property name="pincode" value="12345"/>
    
    </bean>
    
    <bean class="com.bibek.beans.Student" id="stdId" autowire="byName">
       <property name="name" value="Bibek"/>
       <property name="rollno" value="04"/>
       
    
    </bean>

</beans>